<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410873117405-b2funfos51i1vro785dpu14fkr5985h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410873117405-b2funfos51i1vro785dpu14fkr5985h0</string>
	<key>API_KEY</key>
	<string>AIzaSyA-rJMQ-2H_MMrUrKKQFhONPWLgx7ANtwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>410873117405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.tinyangrykitten.mqttdashboard2</string>
	<key>PROJECT_ID</key>
	<string>home-ce6da</string>
	<key>STORAGE_BUCKET</key>
	<string>home-ce6da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410873117405:ios:a586aeaf5514cdfb81b934</string>
	<key>DATABASE_URL</key>
	<string>https://home-ce6da.firebaseio.com</string>
</dict>
</plist>